a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}

div.search-page input
{
	font-size: 18px;
}

div.search-page a
{
	font-size: 14px;
}

div.search-page small, div.search-page small a {
	font-size: 11px;
	text-decoration: none;
}

div.search-page small a: hover {
	text-decoration: underline;
}