body .wrapper_inner, body .maxwidth-theme{ max-width: 1470px; }
.fill_bg_y .front.wide_page .adv_bottom_block, .fill_bg_y .front.wide_page hr{max-width: 1470px;}
.fill_bg_y .line-row{max-width: 1470px;}
.fill_bg_y .banners-content .maxwidth-banner{max-width: 1470px;}
.fill_bg_y .contacts_map, .fill_bg_y .contacts-page-map{max-width: 1470px;}
.fill_bg_y .banner.TOP_UNDERHEADER, .fill_bg_y .banner.FOOTER, .fill_bg_y .banner.CONTENT_TOP, .fill_bg_y .banner.CONTENT_BOTTOM{max-width: 1470px;}

body.fill_bg_y  .top_big_one_banner { max-width: 1470px; margin: 0 auto; }

@media (min-width: 1300px){
	.detail .gallery-block .bigs.flexslider .slides .item{height:728px;line-height:725px;}

	.left_block{width:258px;}
	.right_block.wide_N, .right_block.wide_{width: calc(100% - 288px) !important;}
	.menu-row.middle-block .mega-menu table td.catalog{width: 258px;}
	.menu-row.middle-block:not(.bglight) .mega-menu table td.catalog > .wrap{width: 257px;}
	body .side_RIGHT .right_block.wide_N, body .side_RIGHT .right_block.wide_{width: calc(100% - 258px) !important;}

	/*top banner*/
	.top_big_banners .item .item_inner{}
	
	/*catalog list*/
	.display_list .list_item .image_block{width:20%;}
}

@media (max-width: 1700px){
	.top-block .top-description .confirm_region{left:10px;}
	.top-block .top-description .confirm_region:before, .top-description .confirm_region:after{left:50px;}
}