div.slideshow table.data-table tr.head-row td {
	/*padding:10px 5px;*/
	border-bottom:none;
}
div.slideshow table.data-table tr.data-row {
	border-top:none;
	border-bottom:none;

}
div.slideshow table.data-table th.data-cell {
	border-top:none;
	border-bottom:none;
	padding:5px 10px 5px 0px;
}
div.slideshow table.data-table a{
	font-weight:normal;
	text-decoration: none;
}

div.slideshow {width:100%; height: auto; overflow: hidden; vertical-align: top; border-bottom: 1px solid #91908D; margin: 0 0 20px 0; padding-bottom: 10px;}
div.slideshow {font-size: 14px; /*float: left; height: 20px;*/}
div.slideshow a {text-decoration: none; color: black; padding: 0 0px; font-size: 14px;} 
div.slideshow span {color: #CC6600; /*background-color: #A0A0A0;*/ padding: 0 0px;}
div.slideshow a.on {color: #CC6600;}
div.slideshow a:hover {text-decoration: underline;}
div.slideshow b {color: #8E8B86;}