div.filter {
    border-bottom: 1px solid #91908D;
    margin: -10px 0 20px 0;
    padding-bottom: 10px;
}
.catalog-item-filter-body-inner {
    /*overflow: hidden;*/
}
.filter-dropdown {
    margin: 0 22px 8px 8px;
    float: left;
}
.filter-dropdown input {
    width: 140px;
    padding: 2px 0 1px;
    border: 0;
    background: #b7b6b2;
    color: #fff;
    cursor: pointer;
}

.filter-textbox {
    width: 140px;
    padding: 2px 0 1px;
    border: 1px solid red;
    /*background: #b7b6b2;*/
    /*color: #fff;*/
    cursor: pointer;
}


.filter-dropdown select {
    width: 140px;
}