p.card_title {
    font-size: 26px;
    font-weight: bold;
    color: #1d2029;
    margin-top: 2px;
}

.info_item .middle_info div.prices_block {
    display: inline-block;
    padding: 12px 0;
}

.wrapper_inner .info_item .middle_info div.buy_block {
    display: inline;
}

.catalog_detail .element_detail_text .showroom_txt {
    color: #7d7d7d;
    font-size: 14px;
    line-height: 18px;
    border-left: 3px solid orange;
    padding-left: 6px;
    margin-top:20px;
}
.catalog_detail .element_detail_text .price_txt{
    border-left: 3px solid orange;
    padding-left: 6px;
}
.catalog_detail .element_detail_text .showroom_txt :nth-child(2){
    text-decoration: underline;
}

.middle_info.main_item_wrapper .imp_props_txt {
    font-size: 14px;
    font-weight: bold;
    color: #1d2029;
    margin-bottom: 20px;
}

.middle_info.main_item_wrapper .imp_props_txt .red{
    color: #f9a141;
}

button.btn-get_discount{
    border: 2px solid orange;
    margin-bottom: 30px;
}

.imp_props_txt, .properties-block, .showroom_txt{
    color: #554e40 !important;
    font-size: 14px;
    font-weight: bold;
    font-size: 14px;

}


.showroom_txt{
    border-left: 3px solid orange;
    padding-left: 6px;
    margin-bottom: 20px;
    
    
}
.back_url{
    float: right;
    top: -27px;
    position: relative;
}
